Repository Gruppe-Munchies/Matplanlegger---Systemutvikling-Ne-3--Munchies-, pull requests merged in 2022-03, with the labels that each got.

#49 Clean up
  backend/server.py
  flask_alchemy_db_creation/__init__.py
  flask_alchemy_db_creation/about_flask_aclhemy_db_creation.txt
  flask_alchemy_db_creation/database.py
  flask_alchemy_db_creation/local_db_create.py
  flask_alchemy_db_creation/sqlalchemy_update_db_example.py
  local_db/db_user_info.py
  local_db/orm.py
  local_db/test_queries.py
Labels: Cleanup

#52 Janerik test
  backend/server.py
  local_db/db_testData.py
  local_db/orm.py
  local_db/test_queries.py
  sqlScripts/0224-sqldump.sql
  templates/test2.html
Labels: Cleanup

#125 66 create method for ingredient queries
  backend/ingredients/queries.py
  backend/ingredients/views.py
  merge_conflict_example/some_important_file.py
  server.py
  sqlScripts/1103-sqldump.sql
  sqlScripts/1503-sqldump.sql
  sqlScripts/1603-sqldump.sql
Labels: backend

#151 132 login user verification
  backend/auth/forms.py
  backend/auth/queries.py
  backend/auth/views.py
  models/User.py
  models/__init__.py
  templates/index.html
Labels: enhancement, new feature, frontend, backend
